<div class="container">
    <h1>esignatur's oversættelsesportal</h1>
    <p>Velkommen til vores nye oversættelsesportal, skrevet i dotnet core 2.1.1 på en mongodb og angular 6:</p>
    <p>&nbsp;</p>
    <div class="header float-left">
        <h2>Guide</h2>
        <p>
            Skriv keys i PascalCase, og seperer med punktum(.). Punktum seperering skal indikere hvor oversættelsen bliver brugt. E.g.
            "Desktop.Cpr.AddSigner.Name" vil indikere at oversættelsen hører til i desktop appen, på cpr siden, under AddSigner
            sektionen, og selve oversættelsen hedder "Name".
        </p>
        <p>
            Man kan hente en json af oversættelser ved at kalde endpointet:
        </p>
        <pre>
curl -k {{baseUrl}}api/translation
      </pre> Man kan specificere ved uddybende at uddybe sit miljø, fx:
        <pre>
curl -k {{baseUrl}}api/translation/query/[env]
curl -k {{baseUrl}}api/translation/query/Portal
curl -k {{baseUrl}}api/translation/query/Desktop
curl -k {{baseUrl}}api/translation/query/Sign
curl -k {{baseUrl}}api/translation/query/Web
			</pre> Når man henter oversættelser til Desktop-appen, skal det hentes individuelt til hvert sprog:
        <pre>
curl -k {{baseUrl}}api/AngularQuery/[env]/[lang]
curl -k {{baseUrl}}api/translation/AngularQuery/Desktop/Da
curl -k {{baseUrl}}api/translation/AngularQuery/Desktop/En
curl -k {{baseUrl}}api/translation/AngularQuery/Desktop/Sv
curl -k {{baseUrl}}api/translation/AngularQuery/Desktop/Nb
			</pre>
    </div>
</div>
