li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */

li.link-active a, li.link-active a:hover, li.link-active a:focus {
    background-color: #f49844;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    a, p, input, textarea, b, h1, h2, h3, h4, h5, h6 {
        font-family: Raleway;
    }
    .submenu {
        a {
            color: #fff;
        }
        i {
            width: 3rem;
        }
        li a {
            font-size: 1.7rem;
        }
    }
    ul.submenu {
        padding: 0;
    }
}

.navbar-inverse {
    background-color: #325d77;
    border-color: #325d77;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: 15%;
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
        li {
            list-style: none;
        }
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.btn-container {
  width: 101px;
  height: 101px;
  position: relative;
  top: 77px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;

  .btn {
    width: 100px;
    height: 100px;
    border: none;
    color: inherit;
    background: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    margin: auto;
  }

  .btn img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .bg {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .btn-boarder {
    border: 2px solid #fff;
    border-radius: 50%;
  }

  .animation {
    -webkit-transform: translate(100px, -100px);
    -moz-transform: translate(100px, -100px);
    -o-transform: translate(100px, -100px);
    -ms-transform: translate(100px, -100px);
    transform: translate(100px, -100px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .animation2 {
    -webkit-animation: fadeIn 0.4s ease-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    -moz-animation: fadeIn 0.4s ease-out;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0.4s;
    animation: fadeIn 0.4s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .around {
    width: 101px;
    height: 101px;
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    margin: auto;
  }

  .around:after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  .around-boarder {
    border: 1px solid #fff;
    border-radius: 50%;
  }
}
